body{
 font-size: 10px;
 font-family: Arial, Helvetica, sans-serif;
}
.demoBlck,.backendBlock,.frontendBlock{
    display: none;
}

.profilePic{
    display: inline-flex;
    flex-direction:row;
    float:left;
}
.skillslist{
 display: inline-flex;
 flex-direction:row;
 float:right;

}
.skillslist > div {
 height:34px;   
 border-radius: 4px;
 padding:4px 10px;
 color:white;
 background-color: black;
 margin: 0px 10px;
 font-size:1.2rem;
 cursor: pointer;
}
.skillslist > div:hover {
    color:black;
    background-color:white;
}

.active{
 background-color:red !important;
 color:white !important;
}

.desc{
    font-size: 0.9rem;
    padding:2px;
    font-family: 'Open Sans', 'sans-serif';
}

.panelDemo >p{
    text-decoration: underline;
}


footer .icons{
 height:22px !important;
 width :22px !important;
}
code{
     width: 32px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer>div{
    display: flex;
    flex-direction: row;
 }